@charset "UTF-8";
:root {
  --color-base: #3aafa9;
  --color-base-transparent: rgba(58, 175, 169, 0.8);
  --color-base-variant: #07889b;
  --color-base-lighter: #07a1b4;
  --color-base-darker: #2b7a78;
  --color-base-shadow: rgba(0, 0, 0, 0.5);
  --color-dark: #17252a;
  --color-light: #def2f1;
  --color-lighter: #feffff;
  --gradient-base: linear-gradient(45deg, var(--color-base-darker), var(--color-base));
  --size-base-height: 8px;
  --size-base-font: 14px;
  --size-base-module-title-font: 38px;
  --size-base-module-text-font: calc(var(--size-base-module-title-font) / 1.618);
  --shadow-base: 0px 0px 4px 1px var(--color-base);
  --shadow-on-base: 0px 0px 4px 1px var(--color-base-darker);
  --shadow-dark: 0px 0px 3px 0px var(--color-dark);
  --size-nav-height: 44px;
  --size-nav-height-scroll: 38px;
  --size-nav-item-font: 18px;
  --size-nav-item-font-scroll: 16px;
  --size-nav-logo-font: calc(var(--size-nav-item-font) * 1.618);
  --size-nav-logo-font-scroll: calc(var(--size-nav-item-font-scroll) * 1.618);
  --transition-nav: all .1s ease;
  --transition-section-item: all .5s ease-in-out;
  --color-nav-bg: var(--color-base);
  --color-nav-bg-dark: var(--color-base-darker);
  --color-nav-bg-scroll: rgba(255, 255, 255, 0.95);
  --color-nav-text: var(--color-lighter);
  --color-nav-text-scroll: var(--color-base);
  --size-home-section-title-font: 28px;
  --size-home-section-text-font: calc(var(--size-home-about-title-font) / 1.618);
  --size-home-section-icon: 64px;
}

.color-base-text {
  color: var(--color-base);
}
.color-base-bg {
  background: var(--color-base);
}
.color-base-darker-text {
  color: var(--color-base-darker);
}
.color-base-darker-bg {
  background: var(--color-base-darker);
}

@keyframes smooth-float {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}
@keyframes smooth-float-md {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 0%;
  }
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: var(--color-base-darker);
}

.link, .link:hover, .link:visited, .link:focus {
  text-decoration: none;
}

.link-base {
  color: var(--color-base);
}
.link-base:hover {
  color: var(--color-base-darker);
}

.form-control {
  margin: 0;
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-nav-text);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.9);
  transition: var(--transition-nav);
}
.form-control.show {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: transparent transparent var(--color-base) transparent;
  width: 200px;
  padding: 5px 10px;
}
.form-control:focus {
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-nav-text);
}
.form-control::placeholder {
  color: var(--color-nav-text);
}

#page-hero {
  height: calc(100vh - (var(--size-nav-height) + 20px));
  background: linear-gradient(25deg, var(--color-base-darker), var(--color-base), var(--color-base));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page-hero .jumbotron {
  background-color: transparent;
  color: var(--color-nav-text);
  margin: 0;
  background-image: url("../images/hero.png");
  background-size: 70% auto;
  background-position: 100% center;
  background-repeat: no-repeat;
  display: flex;
  align-content: center;
}
#page-hero .jumbotron .hero-header {
  font-size: 48px;
  margin-bottom: calc(var(--size-base-height) * 3);
}
#page-hero .jumbotron .hero-content {
  font-size: 18px;
  margin-bottom: calc(var(--size-base-height) * 3);
}
#page-hero .jumbotron .btn-hero-contact {
  background: var(--color-dark);
  color: #ffffff;
  box-shadow: 4px 4px 1px var(--color-base-darker);
  transition: var(--transition-nav);
}
#page-hero .jumbotron .btn-hero-contact:hover {
  background: var(--color-base-darker);
  box-shadow: 4px 4px 1px var(--color-dark);
}
#page-hero #btn-hero-scroll-down {
  display: block;
  position: absolute;
  font-size: 60px;
  color: #ffffff;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: var(--transition-nav);
  -webkit-animation: smooth-float;
  -o-animation: smooth-float;
  animation: smooth-float;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
@media only screen and (max-width: 992px) {
  #page-hero #btn-hero-scroll-down {
    -webkit-animation: smooth-float-md;
    -o-animation: smooth-float-md;
    animation: smooth-float-md;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}
@media only screen and (max-width: 992px) {
  #page-hero {
    height: auto;
    min-height: 100vh;
  }
}

.sticky-wrapper {
  height: max-content !important;
}

#page-header {
  background-color: var(--color-nav-bg);
  padding: 10px 0;
  transition: var(--transition-nav);
}
#page-header .navbar .navbar-brand {
  font-size: var(--size-nav-logo-font);
  font-weight: bold;
  color: var(--color-nav-text);
  height: var(--size-nav-height);
  line-height: var(--size-nav-height);
}
#page-header .navbar #page-menu-toggler {
  color: var(--color-nav-text);
}
#page-header .navbar #page-menu {
  transition: var(--transition-nav);
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu #page-menu-nav {
    z-index: 2;
    position: relative;
    left: -100%;
    height: 100%;
    width: 40%;
    margin-right: auto;
    overflow-y: auto;
    background: var(--color-nav-bg-scroll);
    box-shadow: 3px 3px 3px var(--color-base-shadow);
    transition: var(--transition-section-item);
  }
}
@media only screen and (max-width: 576px) {
  #page-header .navbar #page-menu #page-menu-nav {
    width: 80%;
  }
}
#page-header .navbar #page-menu #page-menu-nav .nav-item .nav-link {
  padding: 0 15px;
  color: var(--color-nav-text);
  height: var(--size-nav-height);
  line-height: var(--size-nav-height);
  font-size: var(--size-nav-item-font);
  transition: var(--transition-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#page-header .navbar #page-menu #page-menu-nav .nav-item .nav-link:hover {
  background: var(--color-base-shadow);
  color: var(--color-nav-text);
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu #page-menu-nav .nav-item .nav-link:hover {
    background: var(--color-base);
  }
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu #page-menu-nav .nav-item .nav-link {
    height: var(--size-nav-height-scroll) !important;
    line-height: var(--size-nav-height-scroll) !important;
    font-size: var(--size-nav-item-font-scroll) !important;
    color: var(--color-nav-text-scroll);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-base);
  }
}
#page-header .navbar #page-menu #page-menu-nav .nav-item .dropdown-menu {
  margin: -10px 0 0 0;
  padding: 0;
  right: 0;
  left: auto;
  opacity: 0;
  background: var(--color-nav-bg-scroll);
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 6px -3px var(--color-base-shadow);
  transition: var(--transition-nav);
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu #page-menu-nav .nav-item .dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    margin: 0;
    max-height: 0;
    z-index: -1;
    display: block;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 0.4s ease-in-out;
    box-shadow: none;
    background: transparent;
  }
  #page-header .navbar #page-menu #page-menu-nav .nav-item .dropdown-menu.show {
    z-index: 1;
    max-height: 600px;
    visibility: visible;
  }
}
#page-header .navbar #page-menu #page-menu-nav .nav-item .dropdown-menu .nav-link {
  padding: 0 15px 0 30px;
  color: var(--color-nav-text-scroll);
  height: var(--size-nav-height);
  line-height: var(--size-nav-height);
  font-size: var(--size-nav-item-font);
  transition: var(--transition-nav);
}
#page-header .navbar #page-menu #page-menu-nav .nav-item .dropdown-menu .nav-link:hover {
  background: var(--color-nav-bg);
  color: var(--color-nav-text);
}
@media only screen and (min-width: 993px) {
  #page-header .navbar #page-menu #page-menu-nav .nav-item .dropdown-menu.dropdown-menu-sub {
    top: 0;
    display: block;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
  }
}
@media only screen and (min-width: 769px) {
  #page-header .navbar #page-menu #page-menu-nav .nav-item.dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    margin: 0;
  }
  #page-header .navbar #page-menu #page-menu-nav .nav-item.dropdown:hover > .dropdown-menu.dropdown-menu-sub {
    z-index: -1;
    opacity: 1;
    right: 100%;
  }
}
#page-header .navbar #page-menu #page-menu-nav .form-nav-search {
  position: relative;
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu #page-menu-nav .form-nav-search {
    padding: 0 15px;
    margin-top: 15px;
  }
}
#page-header .navbar #page-menu #page-menu-nav .form-nav-search form {
  position: static;
}
#page-header .navbar #page-menu #page-menu-nav .form-nav-search form label {
  display: block;
  margin: 0;
  padding: 0 !important;
  text-align: center;
  width: var(--size-nav-height);
  height: var(--size-nav-height);
  line-height: var(--size-nav-height);
  transition: var(--transition-nav);
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu #page-menu-nav .form-nav-search form label {
    background: var(--color-base);
    width: var(--size-nav-height-scroll) !important;
    justify-content: center !important;
    align-items: center !important;
    float: left;
  }
  #page-header .navbar #page-menu #page-menu-nav .form-nav-search form label:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-lighter) !important;
  }
  #page-header .navbar #page-menu #page-menu-nav .form-nav-search form label .fa {
    color: #ffffff;
  }
}
#page-header .navbar #page-menu #page-menu-nav .form-nav-search form input {
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0;
  width: 0;
  z-index: 999;
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-nav-text);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.9);
  transition: var(--transition-nav);
}
#page-header .navbar #page-menu #page-menu-nav .form-nav-search form input.show {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: transparent transparent var(--color-base) transparent;
  width: 200px;
  padding: 5px 10px;
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu #page-menu-nav .form-nav-search form input.show {
    width: calc(100% - var(--size-nav-height-scroll));
  }
}
#page-header .navbar #page-menu #page-menu-nav .form-nav-search form input::placeholder {
  color: var(--color-nav-text);
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu #page-menu-nav .form-nav-search form input {
    position: relative;
    float: left;
    box-shadow: none;
    padding: 5px 10px;
    width: calc(100% - var(--size-nav-height-scroll));
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: transparent transparent var(--color-base) transparent;
  }
}
#page-header .navbar #page-menu #nav-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: var(--color-base-shadow);
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu #nav-background {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  #page-header .navbar #page-menu {
    z-index: -1;
    position: fixed;
    top: calc(var(--size-nav-height) + 10px);
    bottom: 0;
    left: 0%;
    right: 0%;
    height: 100%;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-nav);
  }
  #page-header .navbar #page-menu.show {
    z-index: 999;
    visibility: visible;
    opacity: 1;
  }
  #page-header .navbar #page-menu.show #page-menu-nav {
    left: 0;
  }
}
#page-header.scroll {
  z-index: 999 !important;
  width: 100% !important;
  padding: 0;
  box-shadow: 0px 1px 9px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--color-nav-bg-scroll);
}
#page-header.scroll .navbar .navbar-brand {
  font-size: var(--size-nav-logo-font-scroll);
  height: var(--size-nav-height-scroll);
  line-height: var(--size-nav-height-scroll);
  color: var(--color-nav-text-scroll);
}
#page-header.scroll .navbar #page-menu-toggler {
  color: var(--color-nav-text-scroll);
}
@media only screen and (max-width: 992px) {
  #page-header.scroll .navbar #page-menu {
    top: var(--size-nav-height-scroll);
  }
}
#page-header.scroll .navbar #page-menu #page-menu-nav .nav-item .nav-link {
  height: var(--size-nav-height-scroll);
  line-height: var(--size-nav-height-scroll);
  font-size: var(--size-nav-item-font-scroll);
  color: var(--color-nav-text-scroll);
}
#page-header.scroll .navbar #page-menu #page-menu-nav .nav-item .nav-link:hover {
  background: var(--color-nav-bg);
  color: var(--color-nav-text);
}
#page-header.scroll .navbar #page-menu #page-menu-nav .nav-item .dropdown-menu {
  background: var(--color-nav-bg-scroll);
}
@media only screen and (max-width: 992px) {
  #page-header.scroll .navbar #page-menu #page-menu-nav .nav-item .dropdown-menu {
    background: transparent;
  }
}
#page-header.scroll .navbar #page-menu #page-menu-nav .form-nav-search label {
  display: block;
  margin: 0;
  width: var(--size-nav-height-scroll);
  height: var(--size-nav-height-scroll);
}

#page-footer {
  background: var(--color-dark);
  padding: calc(var(--size-base-height) * 5) 0;
  color: #ffffff;
  font-size: 15px;
}
#page-footer .footer-email-contact {
  margin-bottom: calc(var(--size-base-height) * 5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#page-footer .footer-email-contact button {
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: none;
  padding: 0;
  background: var(--color-base-darker);
  color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: var(--transition-nav);
}
#page-footer .footer-email-contact button:hover {
  background: var(--color-base);
}
#page-footer .footer-email-contact input {
  background: #ffffff;
  color: var(--color-base-darker);
  height: 38px;
  width: 300px;
  box-shadow: none;
}
#page-footer .footer-email-contact input::placeholder {
  color: var(--color-base-darker);
}
@media only screen and (max-width: 375px) {
  #page-footer .footer-email-contact input {
    width: calc(100% - 38px);
  }
}
#page-footer .footer-item .footer-item-header {
  font-size: 18px;
  margin-bottom: calc(var(--size-base-height) * 2);
  font-weight: bold;
}
#page-footer .footer-item .footer-item-body ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
#page-footer .footer-item .footer-item-body ul li {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: var(--size-base-height);
}
#page-footer .footer-item.footer-item-about-us .footer-item-body ul li .fa {
  width: 24px;
  font-size: 16px;
  text-align: center;
  color: var(--color-base);
}
#page-footer .footer-item.footer-item-list .footer-item-body ul li {
  padding-left: 1em;
}
#page-footer .footer-item.footer-item-list .footer-item-body ul li:before {
  content: "";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1em;
  /* same as padding-left set on li */
  width: 1em;
  /* same as padding-left set on li */
  color: var(--color-base);
  font-weight: bold;
  font-size: 18px;
}
@media only screen and (max-width: 992px) {
  #page-footer .footer-item.footer-item-list .footer-item-body ul li:before {
    font-size: 15px;
  }
}
@media only screen and (max-width: 992px) {
  #page-footer .footer-item {
    margin-bottom: calc(var(--size-base-height) * 2);
  }
}

.form-service-register-container {
  align-items: stretch;
  color: var(--color-light);
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}
.form-service-register-container .form-service-register-image {
  height: 100%;
  background-image: url("../images/webdesign-1200x635.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.form-service-register-container .form-service-register {
  background: var(--color-dark);
  padding: calc(var(--size-base-height) * 5) calc(var(--size-base-height) * 8);
}
@media only screen and (max-width: 992px) {
  .form-service-register-container .form-service-register {
    padding: calc(var(--size-base-height) * 5) calc(var(--size-base-height) * 3);
  }
}
.form-service-register-container .form-service-register .form-group > label {
  font-weight: bold;
}
.form-service-register-container .form-service-register .form-group > .form-control {
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.8);
  background: inherit;
  transition: var(--transition-nav);
}
.form-service-register-container .form-service-register .form-group > .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-service-register-container .form-service-register .form-group > .form-control:focus {
  border-color: white;
}
.form-service-register-container .form-service-register > .btn[type=submit] {
  transition: var(--transition-nav);
}
.form-service-register-container .form-service-register > .btn[type=submit]:hover {
  background: var(--color-base);
}

body {
  font-family: "Roboto Condensed", Arial, "Segoe UI";
  font-size: var(--size-base-font);
}

.home-section {
  padding: calc(var(--size-base-height) * 5) 0;
}
.home-section .section-content.row {
  margin-left: calc(-1 * (var(--size-base-height)));
  margin-right: calc(-1 * (var(--size-base-height)));
}
.home-section .section-content.row > div[class*=col-] {
  padding: 0 var(--size-base-height);
  margin: calc(var(--size-base-height) * 2) 0 0 0;
}
.home-section .section-header {
  font-size: var(--size-base-module-title-font);
  margin: calc(var(--size-base-height) * 2) 0;
}
.home-section .section-header-text {
  font-weight: lighter;
  font-size: var(--size-base-module-text-font);
  margin: 8px 0;
}
.home-section .section-item {
  margin-top: 16px;
  padding: 8px 8px;
  height: 100%;
  position: relative;
}
.home-section .section-item-top-icon {
  width: var(--size-home-section-icon);
  height: var(--size-home-section-icon);
  font-size: var(--size-base-module-text-font);
  background: var(--color-base);
  border: 3px solid white;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(var(--size-base-height) * 2) auto;
}
.home-section .section-item-title {
  font-size: 28px;
  margin-bottom: 16px;
  text-align: center;
}
.home-section .section-item-content {
  font-size: calc(28px / 1.618);
}

.home-service .section-content .section-item {
  z-index: 0;
  margin-top: 0;
  padding: 0;
  min-height: calc(var(--size-base-height) * 22);
  display: flex;
  align-items: stretch;
  -webkit-box-shadow: var(--shadow-dark);
  -moz-box-shadow: var(--shadow-dark);
  box-shadow: var(--shadow-dark);
  overflow: hidden;
}
.home-service .section-content .section-item::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.home-service .section-content .section-item-background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: var(--transition-section-item);
  -moz-transition: var(--transition-section-item);
  -ms-transition: var(--transition-section-item);
  -o-transition: var(--transition-section-item);
  transition: var(--transition-section-item);
}
.home-service .section-content .section-item-background img {
  width: 100%;
  height: 100%;
}
.home-service .section-content .section-item:hover .section-item-background {
  -webkit-transform: scale(1.3) rotate(10deg);
  -moz-transform: scale(1.3) rotate(10deg);
  -ms-transform: scale(1.3) rotate(10deg);
  -o-transform: scale(1.3) rotate(10deg);
  transform: scale(1.3) rotate(10deg);
}
.home-service .section-content .section-item-title {
  z-index: 3;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  color: #ffffff;
  text-shadow: 0px 0px 5px black;
}
.home-service .section-content .section-item-title * {
  margin-bottom: 0;
  line-height: calc(var(--size-base-height) * 5);
}

.home-pricing .section-content {
  margin-top: calc(var(--size-base-height) * 6);
}
.home-pricing .section-content.row > div[class*=col-] {
  margin: calc(var(--size-base-height) * 5) 0 0 0;
}
.home-pricing .section-content .section-item {
  background: var(--gradient-base);
  color: var(--color-lighter);
  padding: calc(var(--size-home-section-icon) / 2) 16px 16px 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-pricing .section-content .section-item-title {
  margin: calc(var(--size-base-height) * 2) 0;
  padding: var(--size-base-height) 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.home-pricing .section-content .section-item-top-icon {
  position: absolute;
  bottom: calc(100% - (var(--size-home-section-icon) / 2));
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: var(--gradient-base);
  margin: 0;
  font-size: 28px;
}
.home-pricing .section-content .section-item-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.home-pricing .section-content .section-item-footer {
  text-align: center;
  margin-top: calc(var(--size-base-height) * 2);
}
.home-pricing .section-content .section-item-footer .btn-watch {
  color: var(--color-dark);
  background: var(--color-lighter);
  box-shadow: var(--shadow-on-base);
  transition: var(--transition-nav);
}
.home-pricing .section-content .section-item-footer .btn-watch:hover {
  background: var(--color-base-darker);
  color: var(--color-lighter);
  box-shadow: var(--shadow-dark);
}
@media only screen and (min-width: 993px) {
  .home-pricing .section-content .section-item.pricing-left {
    -webkit-transform: translateX(24px) scale(0.9);
    -moz-transform: translateX(24px) scale(0.9);
    -ms-transform: translateX(24px) scale(0.9);
    -o-transform: translateX(24px) scale(0.9);
    transform: translateX(24px) scale(0.9);
  }
  .home-pricing .section-content .section-item.pricing-right {
    -webkit-transform: translateX(-24px) scale(0.9);
    -moz-transform: translateX(-24px) scale(0.9);
    -ms-transform: translateX(-24px) scale(0.9);
    -o-transform: translateX(-24px) scale(0.9);
    transform: translateX(-24px) scale(0.9);
  }
  .home-pricing .section-content .section-item.pricing-center {
    z-index: 10;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: var(--shadow-dark);
    -moz-box-shadow: var(--shadow-dark);
    box-shadow: var(--shadow-dark);
  }
}

/*# sourceMappingURL=style.css.map */
