<<<<<<< HEAD

a {
    text-decoration: none;
    color: #ffffff;
    
    &:hover {
        text-decoration: none;
        color: var(--color-base-darker);
    }
}

=======
>>>>>>> 2965824254407001e9bf659c7f49879b08d5c7c0
.link {
    &, &:hover, &:visited, &:focus {
        text-decoration: none;
    }
    
}

.link-base {
    color: var(--color-base);
    
    &:hover {
        color: var(--color-base-darker);
    }
}