
a {
    text-decoration: none;
    color: #ffffff;
    
    &:hover {
        text-decoration: none;
        color: var(--color-base-darker);
    }
}

.link {
    &, &:hover, &:visited, &:focus {
        text-decoration: none;
    }
    
}

.link-base {
    color: var(--color-base);
    
    &:hover {
        color: var(--color-base-darker);
    }
}